// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.button {
    width: 23%;
    display: inline-block;
    height: 34px;
    padding: 9px;
    margin-top: 17px;
}
input[type="text"] {
    width: 74%;
    display: inline-block;
    height: 34px;
    margin-right: -5px;
}
form#new-message-form {
    display: block;
    width: 100%;
}